* {
    font-size: 35px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;

}

h1, h2 {
    margin-top: 0px;
    margin-bottom: 4px;    
    font-size: 2.5rem;
}
    
h1     {
    font-family: 'Aguafina Script', cursive;
    padding-bottom: 5px;
}

h2     {
    font-size: 1.5rem;
    color: darkviolet;
}

.boxBox    {
    display: flex;
}

.boxBox, ul, li     {
    align-self: center;
}

#topic    {
    padding-bottom: 25px;
}

#photoSection {
    display: flex;
    justify-content: space-around;
}

#photoSection img {
    width: 20vw;
    height: 20vw;
}

#captionSection    {
    height: 75px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

#captionSection p   {
    width: 33vw;
}



.nobutton    {
    background: rgba(203, 28, 82, 0.35);
}
.nobutton:hover     {
    background: rgba(255, 6, 25, 0.7);
    transition: 1s;
}

.yesbutton    {
    background: rgba(113, 203, 24, 0.35);
}

.yesbutton:hover     {
    background:    rgba(122, 234, 12, 0.88);
    transition: 1s;
}
