* {
    font-size: 35px;
    text-align: center;

}

h1, h2 {
    margin-top: 5px;
    margin-bottom: 10px;    
    font-size: 2.5rem;
    padding-bottom: 25px;
}
    
h1     {
    font-family: 'Aguafina Script', cursive;
}

h2     {
    font-size: 1.5rem;
    color: darkviolet;
}
#topic    {
    padding-bottom: 25px;
}

#photoSection {
    display: flex;
    justify-content: space-around;
}

#photoSection img {
    width: 33vw;
    height: 33vw;
}

#captionSection    {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

#captionSection p   {
    width: 33vw;
}
